[submodule "cir0-libft"]
	path = cir0-libft
	url = git@github.com:mizvchi/cir0-libft
[submodule "cir1-Born2BeRoot"]
	path = cir1-Born2BeRoot
	url = git@github.com:mizvchi/cir1-Born2BeRoot
[submodule "cir1-ft_printf"]
	path = cir1-ft_printf
	url = git@github.com:mizvchi/cir1-ft_printf
[submodule "cir1-get_next_line"]
	path = cir1-get_next_line
	url = git@github.com:mizvchi/cir1-get_next_line
